*{
  font-family: 'Times New Roman', Times, serif;
}


.fa-2xl {
    font-size: 3em;

    display: flex;

    justify-content: center;
    margin-top: 46px;
}


.WelcomeEleve{
    margin-top: 0%;

}

.form-inline {
    display: flex;
    justify-content: space-between;
  }

.form-group {
    margin-right: 10px;
  }


.ContentTime
{
   /*  width: 62%; */
    border:1px solid rgb(218, 218, 218);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    index:-1;
}
tbody, td, tfoot, th, thead, tr {
    padding: 20px 0px;
}
@media (max-width: 646px) {
    .dropdownTime
    {
        width: 195% !important;
    }
}
.dropdownTime
{
    width: 55rem;
}
.line {
  width: 100%;
  text-align: center;
  border-bottom: 0px solid #000;
  line-height: 0.01em;
  margin: 20px 0 20px;
}

.line img {
  vertical-align: middle;
  margin-right: 5px;
}

.text {
  background: #fff;
  padding: 10px 10px;
  font-size: 18px;
}

.container-hours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn-row {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.dropdown.show .dropdown-menu {
  width: auto;
}
.details{
  background: #d9d5d5;
  border-radius: 0px;
  text-transform: capitalize;
}
.details:hover{
  background: #a7a4a4;
}

.reserver ,.details{
  font-size: 16px;
}
#TableProfesseurIsActive_paginate{
  margin-top: 12px;
}
#TableProfesseurIsActive_paginate .pagination{

  justify-content: flex-end;
}
#TableProfesseurIsActive_paginate li{
  margin-right: 12px;

}
#TableProfesseurIsActive_paginate .page-link,.page-item{
  border-radius: 0px;
  cursor: pointer;
}



.BtnIntialiser:first-child:hover, .BtnIntialiser:focus-visible, .BtnIntialiser:hover{
  border-radius: 50px;
  background-color:#c9d2e2;

}

.BtnIntialiser:first-child, .BtnIntialisertn, .BtnIntialiser{
  box-shadow:none;
  border-radius: 50px;

}

.fa-refresh{
  color:#0d62fd;
}



.form-control{
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 6px 12px;
}
.form-control:focus{
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding: 6px 12px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) ;
}

#dropdownMenuButton1{
  padding: 6px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: none;
}
#dropdownMenuButton1:focus{
  padding: 6px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow:  0 .5rem 1rem rgba(0,0,0,.15) ;
}


.select2-container--bootstrap-5.select2-container--focus .select2-selection, .select2-container--bootstrap-5.select2-container--open .select2-selection
{
  border-color: lightgray !important;
  box-shadow: none !important;
}

#bookCard{
  cursor: pointer;
}
#bookCard:hover{
  background-color: #e0e0e0 !important;}

#TableProfesseurIsActive_filter input[type="search"]
  {
    border: 1px solid lightgray;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
  width: 200px;
  border-style: none none solid none;
  border-radius: 0;
  margin: 12px 0;
  }

  .form-control::placeholder{
    font-size: 16px;
  }

  a{
    text-decoration: none;
  }
  #TableProfesseurIsActive_filter
  {
     display: flex;
     justify-content: center;
  }

  #TableProfesseurIsActive_filter input::placeholder{
    font-size: 16px ;
  }
  
  
  #TableProfesseurIsActive_filter label
      {
          font-size: 14px;
      }
  
  #TableProfesseurIsActive_filter input{
      width: 300px !important;
      padding: 10px;
      border: none;
      appearance: none;
      border-radius: 0;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border-bottom: 1.5px solid darkgray;
      background: transparent;
  
  }
  
  #TableProfesseurIsActive_filter input[type="search"]:focus
  {
      padding: 8px;
      color: #888f96;
      background-color: #fff;
      border-color: #86b7fe;
      border-radius: 0px;
      width: 300px;
      padding: 10px;
      border-bottom: 1.5px solid #86b7fe;
      box-shadow: none;
      background-color: transparent;
      
  }
  /*  */

  .btn-group>.btn:not(:first-child), .btn-group>.btn-group:not(:first-child)>.btn {
    border-top-left-radius: 2;
    border-bottom-left-radius: 2;
}

.fa, .fa-brands, .fa-classic, .fa-regular, .fa-sharp, .fa-solid, .fab, .far, .fas {
    line-height: 2;
}

.fa-user-tie, .fa-users {

    position: sticky;
}
.btn-group
{
    width: 100%;
}

/* ipad */
/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
{
    .reserver
    {
        margin-bottom: 5px;
    }
    .details
    {
        width: 76%;
    }
    .TitleGroupePrive
    {
        white-space: nowrap;
    }
    .btn-outline-primary
    {
        max-width: 70%;
    }
    .btn-outline-primary i
    {
        margin-left: -5px;
    }


}
*/
/* iPad Portrait */
/*
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
   .reserver
   {
        margin-bottom: 5px;
   }
   .details
   {
        width: 76%;
   }
   .TitleGroupePrive
    {
        white-space: nowrap;
    }
    .btn-outline-primary
    {
        max-width: 70%;
    }
    .btn-outline-primary i
    {
        margin-left: -5px;
    }


}

@media only screen and (max-width: 600px) {
    #dropdownMenuButton1
    {
        width: 25%;
    }
    .fa-refresh
    {
        margin-top: 10px;
    }
    .DataProfesseur
    {
        overflow-x: auto;
    }
    .reserver
   {
        margin-bottom: 5px;
   }
   .details
   {
        width: 100%;
   }
   #TableProfesseurIsActive_filter input[type="search"]
   {
        margin-left: 17rem;
   }
}*/



/* @media (max-width: 768px) {
  .container {
      width: 92%;
  }
  h1{
    font-size: calc(1rem + 1.5vw)!important;
    margin-bottom: 16px;
  }
} */

.details{
  border-radius: 5px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .details{
   
  }
  
}