.tableFormation>:not(caption)>*>*
    {
        border-bottom-width: 0px;
    }
    .table>:not(caption)>*>*
    {
        border-bottom-width: 0px;
    }
    .ContentDisponible
    {
        width: 10%;
        margin: 10px 10px 10px 20px;
        border: 1px solid gray;
        display: inline-block;
        text-align: center !important;
        justify-content: center;
        align-content: center;
        align-items: center;
        min-height: 90px;
        background-image: linear-gradient(127deg,#fff 35.71%,#e3e3e3 0,#e3e3e3 50%,#fff 0,#fff 85.71%,#e3e3e3 0,#e3e3e3);
        background-size: 8.76px 11.63px;
        flex-grow: 1;
    }
    .Days
    {
        border-bottom: 2px solid gray !important;
        border-bottom-width: 10px;
        box-shadow: rgba(4, 226, 208, 0.35);
        border-radius: 50px;
        margin-top: 5px;
        color: black;
        font-family:Gabriola, Times, serif;
        font-size:22px;
        white-space: nowrap;

    }
    .ClassDisponible
    {
        background: #F0f1f3;
        width:100%;
        margin:15px 0px;
        min-height: 10px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35)
    }
    .ListFormation
    {
        overflow-y: hidden;
    }
     .hidden {
        display: none;
    }
   .listProfile
    {
        list-style: none;
    }
    .listProfile a
    {
        text-decoration: none;
    }
    .listProfile i
    {
        margin-right: 10px;
    }
    .lastChildORginList
    {
        margin-top: 1.10rem;
    }
    img
    {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: block;
        margin: 10px auto;
    }
    .ListExperience::-webkit-scrollbar,
    .ListFormation::-webkit-scrollbar {
        width: 12px;
        border-radius: 50px;
    }

    .ListExperience::-webkit-scrollbar-thumb,
    .ListFormation::-webkit-scrollbar-thumb {
        background: linear-gradient(transparent, #c4dce2);
    }

    .container-design {
        width: 100%;
        height: 100%;
        background: linear-gradient(
            45deg,
            transparent 33.33%,
            rgba(57, 144, 179, 0.1) 33.33%,
            rgba(0, 0, 0, 0.1) 66.66%,
            transparent 66.66%
          ),
          lightblue;
        background-size: 20px 20px;
      }
    .showMore , .showLess{
        text-transform: lowercase;
        background-color: rgb(203, 224, 242);
        color: black;
        border: 1px solid aliceblue;

    }
    
    .showMore:hover{
        
        background-color: white;
        color: #86b3db;;
        border: 1px solid #86b3db;;

    }
    .showLess:hover{
        
        background-color: white;
        color: #86b3db;;
        border: 1px solid #86b3db;;

    }

    .show{
        margin: 10px 50px;
    }

   