*{
    font-family: 'Times New Roman', Times, serif;
  }
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 0px;
    border-style: none none solid;
}

.form-control:focus {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 0px;
    border-style: none none solid;
    box-shadow: none;

}


.forgetPassword{
    float: left;
    text-decoration: none;
    margin-left: -25px;
}

.btn-primary{
  font-size: 18px;
  font-family: opensans;
  text-transform: initial;
  border-radius: 0;
}

.btn-google{
    font-size: 18px ;
    font-family: 'Times New Roman', Times, serif;
    text-transform: initial;
    border-radius: 0;
    border-color: #dadada;

}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

.divLine{
    display: flex;
    align-items: center;
}
.line{
    flex: 1;
    border-top: 1px solid gray;
}
.text{
    padding: 0 10px; /* Adjust the padding as needed */
    color: gray;
}



.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}
.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 14px !important;
    height: 13px;
    float: left;
}


.form-group {
    margin: 10px 0;
    position: relative;
}



.form-group i.fa-user {
    position: absolute;
    left: 10px; /* Adjust the left value as needed */
    top: 50%;
    transform: translateY(-50%);
}

.form-group i.fa-lock {
    position: absolute;
    left: 10px; /* Adjust the left value as needed */
    top: 50%;
    transform: translateY(-50%);
}

.form-group .fa-eye {
    position: absolute;
    right: 10px; /* Adjust the right value as needed */
    top: 50%;
    transform: translateY(-50%);
}








.form-group input {
    width: 100%;
    padding: 10px;
    text-indent: 30px;
}

.form-group .show-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

#error-alert{
    list-style: none;
}
.user-avatar{
    width: 50px;
height: 50px;
border-radius: 50%;
border: 1px solid gray;
}
.cta {
position: relative;
margin: auto;
padding: 12px 18px;
transition: all 0.2s ease;
border: none;
background: none;
cursor: pointer;
}

.cta:before {
content: "";
position: absolute;
top: 5px;
left: 0;
display: block;
border-radius: 50px;
background: #b1dae7;
width: 45px;
height: 40px;
transition: all 0.3s ease;
}

.cta span {
position: relative;
font-family: times;
font-size: 15px;
font-weight: 700;
letter-spacing: 0.05em;
color: #234567;
}

.cta svg {
position: relative;
top: 0;
margin-left: 10px;
fill: none;
stroke-linecap: round;
stroke-linejoin: round;
stroke: #234567;
stroke-width: 2;
transform: translateX(-5px);
transition: all 0.3s ease;
}

.cta:hover:before {
width: 100%;
background: #b1dae7;
}

.cta:hover svg {
transform: translateX(0);
}

.cta:active {
transform: scale(0.95);
}

.navbar-toggler{
border: none;
}
.navbar-toggler:focus{
border: none;
box-shadow: none;
}
#user-plus{
color:#0d6efd;

}
#user-plus:hover{
color:#5296f9;

}
