.fa-2xl {
    font-size: 3em;

    display: flex;

    justify-content: center;
    margin-top: 46px;
}

.card{
    cursor: pointer;
}
.card:hover{
    background-color: lightgray;
}

.WelcomeEleve{
    margin-top: 10%;
}

.form-inline {
    display: flex;
    justify-content: space-between;
  }

.form-group {
    margin-right: 10px;
  }

.searchSpace{
    background-color:white;
    border:1px solid gray;
    margin-bottom: 16px;
    border-radius: 6px;
}
.ContentTime
{
   /*  width: 62%; */
    border:1px solid rgb(218, 218, 218);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    index:-1;
}
tbody, td, tfoot, th, thead, tr {
    padding: 20px 0px;
}
.dropdownTime
{
    width: 70rem;
}
.line {
  width: 100%;
  text-align: center;
  border-bottom: 0px solid #000;
  line-height: 0.01em;
  margin: 20px 0 20px;
}

.line img {
  vertical-align: middle;
  margin-right: 5px;
}

.text {
  background: #fff;
  padding: 10px 10px;
  font-size: 18px;
}

.container-hours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn-row {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.dropdown.show .dropdown-menu {
  width: auto;
}
.details{
  background: #d9d5d5;
  border-radius: 0px;
  text-transform: capitalize;
}
.details:hover{
  background: #a7a4a4;
}

.reserver ,.details{
  font-size: 16px;
}
#TableProfesseurIsActive_paginate{
  margin-top: 12px;
}
#TableProfesseurIsActive_paginate .pagination{
  
  justify-content: flex-end;
}
#TableProfesseurIsActive_paginate li{
  margin-right: 12px;

}
#TableProfesseurIsActive_paginate .page-link,.page-item{
  border-radius: 0px;
  cursor: pointer;
}
