*{
    font-family: 'Times New Roman', Times, serif;
  }
.tableFormation>:not(caption)>*>*
    {
        border-bottom-width: 0px;
    }
    .table>:not(caption)>*>*
    {
        border-bottom-width: 0px;
    }
    .ContentDisponible
    {
        width: 10%;
        margin: 10px 10px 10px 20px;
        border: 1px solid gray;
        display: inline-block;
        text-align: center !important;
        justify-content: center;
        align-content: center;
        align-items: center;
        min-height: 90px;
        background-image: linear-gradient(127deg,#fff 35.71%,#e3e3e3 0,#e3e3e3 50%,#fff 0,#fff 85.71%,#e3e3e3 0,#e3e3e3);
        background-size: 8.76px 11.63px;
        flex-grow: 1;
    }
    .Days
    {
        border-bottom: 2px solid gray !important;
        border-bottom-width: 10px;
        box-shadow: rgba(4, 226, 208, 0.35);
        border-radius: 50px;
        margin-top: 5px;
        color: black;
        font-family:Gabriola, Times, serif;
        font-size:22px;
        white-space: nowrap;

    }
    .ClassDisponible
    {
        background: #F0f1f3;
        width:100%;
        margin:15px 0px;
        min-height: 10px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35)
    }
    .ListFormation
    {
        overflow-y: hidden;
    }
     .hidden {
        display: none;
    }
   .listProfile
    {
        list-style: none;
    }
    .listProfile a
    {
        text-decoration: none;
    }
    .listProfile i
    {
        margin-right: 10px;
    }
    .lastChildORginList
    {
        margin-top: 1.10rem;
    }

    .profileimg
    {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        display: block;
        margin: 10px auto;
    }
    .ListExperience::-webkit-scrollbar,
    .ListFormation::-webkit-scrollbar {
        width: 12px;
        border-radius: 50px;
    }

    .ListExperience::-webkit-scrollbar-thumb,
    .ListFormation::-webkit-scrollbar-thumb {
        background: linear-gradient(transparent, #c4dce2);
    }


    .showMore , .showLess{
        text-transform: lowercase;
        background-color: rgb(203, 224, 242);
        color: black;
        border: 1px solid aliceblue;
        margin-top: 15px;

    }

    .showMore:hover{

        background-color: white;
        color: #86b3db;;
        border: 1px solid #86b3db;;

    }
    .showLess:hover{

        background-color: white;
        color: #86b3db;;
        border: 1px solid #86b3db;;

    }

    .show{
        margin: 10px 50px;
    }

    .card{
        background-color: aliceblue;
    }

    .card-title{
        font-family: Gabriola, Times, serif ;font-weight: 700;
        margin-left: 22px;
        margin-top: 10px;
        font-size: 30px;
        margin-bottom: -4px;
    }

    .timeline{
        width: 1200px;
        margin: -38px auto;
    }
    .timeline ul{
        margin-left: 90px;
        padding-left: 22px;
        border-left: 4px solid gray;
    }
    .timeline li{
        margin: 40px 0;
        position:relative;

    }
    .timeline a{
        text-decoration: none;
        font-size: 22px;
        color: #343232;
        top: 20px;
        z-index: 2;
        transition: 0.2s linear;
        font-weight: 700;
    }
    .timeline .date{
        position: absolute;
        top: 50%;
        left: -102px;
        margin-top: -20px;
        font-size: 16px;
        color: gray;
    }
    .timeline .pays{
        position: absolute;
        top: 90%;
        left: -102px;
        margin-top: -20px;
        font-size: 14px;
        color: gray;
        font-style: italic;
    }
    .timeline .circle{
        position: absolute;
        top: 50%;
        left: -34px;
        margin-top: -10px;
        width: 20px;
        height: 20px;
        background: aliceblue;
        border: 2px solid gray;
        border-radius: 50%;
    }
    .timeline .timeline-content{
        max-height:20px;
        padding:50px 20p 0 20px;
        border:2px solid transparent;
        border-radius:10px;
        position:relative;
        transition:0.2s linear;
    }


    .timeline .timeline-item:hover .timeline-content::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: 100%;
        border: solid transparent;
        transition: 0.2s linear;
        border-right-color: #8080804d;
        border-width: 14px;
        margin: -61px 0px;
    }



    .timeline .timeline-content p{
       max-height:0;
       color:transparent;
       margin-bottom:15px;
       transition:0.2s linear;

    }

    .timeline .timeline-item:hover a {
        transform: translateX(42px);
        border: 1px solid #8080804d;
        padding: 8px 110px 42px 4px;
        background-color: #8080804d;
        margin-left: 2px;
    }
    .timeline .timeline-item:hover .circle{
        background:white;

    }

    .timeline .timeline-item:hover .timeline-content p{
        max-height:200px;
        color:black;
        margin-left: 6px;

    }

    .cours-titre{
        background-color: white;
        width: 100px;
        text-align: center;
        padding: 10px 0px;
        cursor: pointer;
        border-radius: 24px;
    }

