.card-apprentissage{
    width: 1170px;
    margin: auto;
    padding: 20px 24px; 
    background: #ffffff5c;
}
.card-sl {
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom:12px;   
; }

 a{
     text-decoration:none;
     cursor: pointer;
 }
 .card-sl label{
margin-left:14px;
 }
.avatar{
    width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #3a7dc6;
  margin-left: -15px;
  margin-top: -15px;
}
    .card-action {
        width:50px;
        height:50px;
        position: relative;
        float: left;
        margin-top: -25px;
        margin-left: 20px;
        z-index: 2;
        color: #3fa5c6;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
    }

    .card-action:hover {
        color: #fff;
        background: #3a7dc6;
        -webkit-animation: pulse 1.5s infinite;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);

    }
    .avatar:hover{
        background-color: #3a7dc6;;

    }

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
    }

    .card-text {
        padding: 4px 16px;
        background: #fff;
        font-size: 16px;
        color: #636262;
    }

    .card-button {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #1F487E;
        color: #fff;
        border-radius: 0 0 8px 8px;
    }

    .card-button:hover {
        text-decoration: none;
        background-color: #1D3461;
        color: #fff;

    }

.name-course {
    font-size: 40px; /* Large font size */
    font-weight: bold; /* Make the font bold */
    color: white; /* White text color */
    background-color: #3a7dc6; /* Background color */
    padding: 20px 10px 20px 10px; /* Some padding around the text */
    border-radius: 4px; /* Rounded corners */
    text-shadow: 2px 2px 4px #000000; /* Text shadow for a 3D effect */
    width: 100%; /* Fit the width to the content */
    margin: auto; /* Centering the block */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  text-align:center;/* Box shadow for depth */
}